/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #48ff00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #48ff00;
}

#mensaje-emergente {
    display: none;
    background-color: #48ff00; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 3px;
    text-align: center; /* Alinear texto al centro */
    position: absolute;
    bottom: 0; /* Lo coloca en la parte inferior */
    left: 0; /* Lo coloca en la esquina izquierda */
    width: 100%; /* Ancho completo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}